{% extends "base.html" %}
{% block content %}
  <h2>Create Poll</h2>
  <div class= "container">
    <div class="my-forms">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}

          <h3>Choices:</h3>
          <input type="text" name="option_0" placeholder="Option 1"><br>
          <input type="text" name="option_1" placeholder="Option 2"><br>
          <input type="text" name="option_2" placeholder="Option 3"><br>

          <button type="submit">Create Poll</button>
        </form>
    </div>
  </div>
{% endblock %}
